
body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    padding: 2%;
}

.map-container {
    display: inline-block;
    width: 1000px;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.control-container {
    display: inline-block;
    position: absolute;
    padding: 30px;
}
